
.about{
    background-image: url('/assets/laptop.webP');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 25px 25px 0;
  }
  .about2{
    background-image: url('/assets/pen.webP');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px 0 0 25px;
  }
  .about3{
    background-image: url('/assets/mug.webP');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 25px 25px 0;
  }
  
  .services{
    background-image: url('/assets/apple.webP');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 25px 25px 0;
  }
  .services1{
    background-image: url('/assets/computerDesk.webP');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:  25px 0 0 25px;
  }
  
  .tech{
    background-image: url('/assets/computerDesk.webP');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:  0 25px 25px 0;
  }
  .gradient-line {
    width: 100%;
    height: 4px; /* Höhe der Linie */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Farbverlauf */
    border: none;
    margin: 20px 0 20px  0; /* Abstände oberhalb und unterhalb */
  }
  /* Allgemeines Styling für die Kontaktsektion */
  #contact {
    height: 100vh;
   
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
  }
  
  
  /* Styling für die Links (Buttons) */
  a {
    text-decoration: none;
    margin: 0 auto;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
    color: #666;
   
  }
  
  ul li {
    margin-bottom: 25px;
  }
  
  .open{
    margin-bottom: 3rem;
  }
  
  .links{
    display: flex;
    width: 100%;
    margin: 10px auto;
  }

  .flexUl{
    display: flex;
  }
  
  .liste, li, a{
    color:#feb47b;
  }
  /* Responsives Design */
  @media (max-width: 768px) {
    #contact h1 {
      font-size: 2rem;
    }
  
    #contact p {
      font-size: 1rem;
    }
  
  
    h3 {
      font-size: 1.3rem;
    }
  
    ul li {
      font-size: 1rem;
    }
  }
  
  
  
  @media screen and (max-width:600px) {
  
  section{
    width: 98%;
  }
  .flex{
    flex-direction: column;
  }
  .flex2{
    flex-direction: column-reverse;
  }
  .about, .about2, .about3, .services, .services1, .tech{
    border-radius: 25px 25px 25px 25px;
  }
  .flexUl{
    flex-direction: column;
  }
  }